[user]
	name = Morteza Pourkazemi
	email = mortezaPRK@users.noreply.github.com

[difftool]
	prompt = false

[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[init]
	defaultBranch = main

[include]
    path = .local.gitconfig

# Path specific .gitconfig
# [includeIf "gitdir:~/Work/<org>/"]
# 	path = ~/Work/<org>/.gitconfig